body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
    padding: 100px;
}

.circle {
    display: inline-block;
    background-color: purple;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -10px;
}

.circle:nth-child(2) {
    background-color: teal;
    animation-delay: 0.75s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}

.main {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 50px 10px 50px;
    position: fixed;
    left: 0;
    right: 0;
    transition: 0.5s ease;
}

.navbar.scrolled {
    background-color: white;
} 

.navbar-logo h1.scrolled {
    color: black;
}

.navbar-list li.scrolled {
    color: rgba(0,0,0,.5);
}

.navbar-logo h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.navbar-list  ul {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}

.navbar-list li {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.68);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.navbar-buy {
    background-color: rgb(0, 154, 113);
    color: white;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
}

.navbar-buy h2{
    margin: 0px;
    padding: 5px;
}

#background {
    background-image: url(rsz_2flower-vase-beside-notebook-and-pencils-3773389.jpg);
    background-color: rgb(82, 81, 81);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px;
    height: 100%;
}

.fa-play-circle {
    font-size: 60px;
    animation: slide_up 2s ease;
}

.background-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: slide_up 2s ease;
}

.background-text p {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;  
    animation: slide_up 2s ease;
}

.background-buttons {
    display: flex;
    padding: 30px;
}

.background-button-a {
    background-color:  rgb(0, 154, 113);
    font-size: 20px;
    border-radius: 30px;
    margin-right: 20px;
    animation: slide_up 2s ease;
}

.background-button-a h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.background-button-b {
    font-size: 20px;
    border-radius: 30px;
    border: 3px solid #999;
    animation: slide_up 2s ease;
}

.background-button-b h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes slide_up {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}






